<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Job Title</th>
                    <th>Category</th>
                    <th>Package</th>
                    <th>Experience</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobList; let sr= index">
                <td>{{sr+1}}</td>
                <td>{{job.jobName}}</td>
                <td>{{job.categoryName}}</td>
                <td>{{job.package}}</td>
                <td>{{job.experience}}</td>
                <td>{{job.location}}</td>
                <td>
                    <a routerLink="/my-jobs/{{job.jobId}}" class="btn btn-primary mx-2">Edit</a>
                    <button (click)="deleteJob($event,job.jobId)" class="btn btn-danger">Delete</button>

                </td>
                </tr >
                

            </tbody>

        </table>
    </div>
</div>
